<% content_for :head_stylesheet do %>
<% end %>

<% content_for :sub_menu do %>
  <%= render :partial => 'user/master/gyms/sub_menu_start', :locals => {:active_path => user_master_gym_reports_path } -%>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class="search-condition alert alert-success">

  <%= form_for [:user_master, @gym_report], :html => {:method => :get} do |f| -%>
    <% @gym_report.filters.each do |filter| -%>
      <div class="datagrid-filter">
        <%= f.datagrid_label filter %>
        <%= f.datagrid_filter filter %>
      </div>
    <% end -%>

    <div class='filter-action'>
      <button type='submit' class='btn btn-primary'>检索</button>
      <button type='button' class='btn'>清空</button>
    </div>
    <div class='clear'></div>
  <% end -%>
</div>
<div class="search-result">
  <div class='total'>Total: <%= @gym_report.assets.count %> 件</div>
  <%= will_paginate @assets %>
  <div class='clear'></div>
  <div>
  <%= datagrid_table(@gym_report, @assets) %>
  </div>
  <%= will_paginate @assets %>
</div>

<div class="right">
  <%# render :partial => "shared/source", :object => @gym_report %>
</div>
