<%= semantic_form_for([:user, :master, @court], :html => { :class => 'form-horizontal' }) do |f| %>
    <li id="court_sport_name" class="number input optional numeric stringish">
      <label class=" label" for="court_sport_name">项目  
      <abbr title="required">*</abbr>
    </label>
      <%= collection_select(:court, :sport_id, Sport.all, :id, :name) %>
    </li>
    <%= f.input :reservation_type, :as => :radio %>
    <!--异步请求返回所选项目的属性显示层-->
    <div id="courtProperties">
    </div>  
    <%= f.input :min_unit %>
    <li id="court_game_number" class="number input optional numeric stringish">
      <label class=" label" for="court_sport_name">场次数量 </label>
      <%= text_field_tag 'game_number',1 %>
    </li>
    <li id="court_game_number" class="number input optional numeric stringish">
      <label class=" label" for="court_sport_name">场次默认价格 </label>
      <%= text_field_tag 'game_default_price',1 %>
    </li>
    <%= f.actions do %>
      <%= f.action :submit, :button_html => { :class => "btn btn-primary" }, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end -%>
  <% end %>
