<%= javascript_include_tag "user/master/courts.js" %>
<%= semantic_form_for([:user, :master, @court], :html => { :class => 'form-horizontal' }) do |f| %>
<%= f.inputs :name => t('views.defaults.label.base_info') do %>
  <!--新建-->
  <% if @court.new_record? %>
    <%#= f.input :sport_id, :label => Sport.model_name.human, :required => true, :as => :select,:collection => Sport.all,:selected => Sport.first.id %>
    <li id="court_sport_id_input" class="select input required">
      <label class=" label" for="court_sport_id">
        <%= Sport.model_name.human %><abbr title="required">*</abbr>
      </label>
      <%= collection_select(:court, :sport_id, Sport.all, :id, :name) %>
    </li>
    <%= f.input :reservation_type, :as => :radio %>
    <!--异步请求返回所选项目的属性显示层-->
    <div id="courtProperties">
    </div>  
  <!--编辑-->
  <% else %>
    <li id="court_sport_name" class="number input optional numeric stringish">
    <label class=" label" for="court_sport_name"><%=Sport.model_name.human%></label>
      <%= Sport.find(@court.sport_id).name %>
    </li>
    <li id="court_sport_name" class="number input optional numeric stringish">
      <label class=" label" for="reservation_type"><%= Court.human_attribute_name(:reservation_type) %></label>
        <%= @court.reservation_type.text -%>
    </li>
    <div id="courtPropertiesIfEdit">
      <% @court.court_properties.all.each do |court_property| %>
      <% property = Property.find(court_property.property_id) %>
      <div>
        <%= hidden_field_tag 'court[court_properties_attributes][][id]',court_property.id %>
        <%= hidden_field_tag 'court[court_properties_attributes][][property_id]',property.id %>
        <li id="court_sport_name" class="number input optional numeric stringish">
          <label class=" label" for="court_sport_name">
            <%= label_tag :property_ids, property.name -%>
          </label>
          <%= text_field_tag 'court[court_properties_attributes][][property_value]',court_property.property_value %>
          <%= property.unit -%>
        </li>
      </div>
      <%end%>
    </div>  
  <% end %>
    <%= f.input :min_unit %>
<% end %>
<% if @court.new_record? %>
<%= f.inputs :name => t('views.defaults.label.batch_game_info') do %>
    <li id="court_game_number" class="number input optional numeric stringish">
    <label class=" label" for="court_game_number"><%= t('views.defaults.game.game_number')%>
    </label>
        <%= text_field_tag 'game_number',1 %>
    </li>
    <li id="court_game_price" class="number input optional numeric stringish">
    <label class=" label" for="court_game_price"><%= Game.human_attribute_name(:default_price) %></label>
        <%= text_field_tag 'game_default_price',1 %>
    </li>
    <li id="court_game_can_reservation" class="number input optional numeric stringish">
    <label class=" label" for="court_game_can_reservation"><%= Game.human_attribute_name(:can_reservation) %></label>
      <ol class="choices-group">
        <li class="choice">
          <label for="court_game_can_reservation_true">
            <%= radio_button_tag("can_reservation_in_court", true,true) %><%= t('views.defaults.game.reservation_true')%>
          </label>
        </li>
        <li class="choice">
          <label for="court_game_can_reservation_false">
            <%= radio_button_tag("can_reservation_in_court", false) %><%= t('views.defaults.game.reservation_false')%>
          </label>
        </li>
      </ol>
    </li>
<% end %>
<% end %>
    <%= f.actions do %>
      <%= f.action :submit, :button_html => { :class => "btn btn-primary" }, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end -%>
<% end %>
