<% content_for :sub_menu do %>
  <%= render :partial => 'user/master/courts/sub_menu_start', :locals => {:active_path => nil } -%>
    <li class="active">
      <%= link_to t('user.nav.main_menu.common.show', model: Court.model_name.human), user_master_court_path(@court) %>
    </li>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class='wb-content-sub-title'>
  <div>
    <%= link_to t('views.defaults.actions.edit'), edit_user_master_court_path(@court), {class: "btn btn-primary"} %>
    <%= link_to t('views.defaults.actions.destroy'), user_master_court_path(@court), 
                { method: :delete, class: "btn btn-primary", confirm: t('activemodel.confirm.destroy') } %>
  </div>
  <div class='wb-clear-both'></div>
</div>

<div class="wb-content-detail">
  <table class="table table-bordered" style="width: 100%;">
    <tbody>
      <tr>
        <td>项目名</td>
        <td><%= Sport.find(@court.sport_id).name -%></td>
      </tr>
      <tr>
        <td>项目属性</td>
        <td>
            <% @court.court_properties.each do |court_property| -%>
            <div>
              <% property = Property.find(court_property.property_id) -%>
              <%= property.name-%>:
              <%= court_property.property_value-%>
              <%= property.unit-%>
             </div>
           <% end -%>
         </td>
       </tr>
      <tr>
        <td><%= Court.human_attribute_name(:min_unit) %></td>
        <td><%= @court.min_unit -%></td>
      </tr>
      <tr>
        <td>场次数量</td>
        <td><%= Game.where(:court_id => @court.id).count %></td>
      </tr>
      <tr>
        <td>场次默认价格</td>
        <td><%= Game.where(:court_id => @court.id).first.default_price %></td>
      </tr>
    </tbody>
  </table>
</div>
