<% content_for :sub_menu do %>
  <%= render :partial => 'admin/master/attributes/sub_menu_start', :locals => {:active_path => nil } -%>
    <li class="active">
      <%= link_to t('admin.nav.main_menu.common.show', model: Attribute.model_name.human), admin_master_attribute_path(@attribute) %>
    </li>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class='wb-content-sub-title'>
  <div>
    <%= link_to t('views.defaults.actions.edit'), edit_admin_master_attribute_path(@attribute), {class: "btn btn-primary"} %>
    <%= link_to t('views.defaults.actions.lock'), nil, {class: "btn btn-primary"} %>
    <%= link_to t('views.defaults.actions.destroy'), admin_master_attribute_path(@attribute), 
                { method: :delete, class: "btn btn-primary", confirm: t('activemodel.confirm.destroy') } %>
  </div>
  <div class='wb-clear-both'></div>
</div>

<div class="wb-content-detail">
  <table class="table table-bordered" style="width: 100%;">
    <tbody>
      <tr>
        <td><%= Attribute.human_attribute_name(:name) %></td>
        <td><%= @attribute.name -%></td>
      </tr>
      <tr>
        <td><%= Attribute.human_attribute_name(:unit) %></td>
        <td><%= @attribute.unit -%></td>
      </tr>
      <tr>
        <td><%= Attribute.human_attribute_name(:intro) %></td>
        <td><%= @attribute.intro -%></td>
      </tr>
    </tbody>
  </table>
</div>
