<%= form_for([:user_master,@gym])  do |f| %>

  <div class="field">
    <%= f.label :场馆名 %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :场馆介绍 %><br />
    <%= f.text_area :intro %>
  </div>

  <div class="field">
    <%= f.label :地址 %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :电话 %><br />
    <%= f.text_field :telephone %>
  </div>

  <div class="field">
    <%= f.label :开业时间 %><br />
    <%= f.time_select :open_time %>
  </div>

  <div class="field">
    <%= f.label :闭馆时间 %><br />
    <%= f.time_select :close_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
