<%= javascript_include_tag "user/master/gyms.js" %>
<%= semantic_form_for([:user, :master, @gym], :html => { :class => 'form-horizontal',:multipart => true }) do |f| %>
    <%= f.inputs  do %>
      <%= f.input :name, :required => true, :input_html => {:readonly => (@gym.status.approved? or @gym.status.released? or @gym.status.suspended?),:class=> ""}%>
      <%= f.input :intro, :required => true, :input_html => { :class => "" } %>
      <%= f.input :logo, :as =>:file,:required => true%>
      <%= f.input :address, :required => true, :input_html => {:readonly => (@gym.status.approved? or @gym.status.released? or @gym.status.suspended?),:class=> ""}%>
      <%= collection_select(:gym, :province_id, Province.all, :id, :province) %>
       <div id="cities">
       </div>  
       <div id="areas">
       </div>  
      <%= f.input :telephone, :required => true,:input_html => { :class => "" } %>
      <input id="gym_open_time_1i" type="hidden" value="2001" name="gym[open_time(1i)]">
      <input id="gym_open_time_2i" type="hidden" value="01" name="gym[open_time(2i)]">
      <input id="gym_open_time_3i" type="hidden" value="01" name="gym[open_time(3i)]">
      <%= f.input :open_time, :as => :time_select,:ignore_date => true,:required => true,:input_html => { :class => "" } %>
      <input id="gym_close_time_1i" type="hidden" value="2001" name="gym[close_time(1i)]">
      <input id="gym_close_time_2i" type="hidden" value="01" name="gym[close_time(2i)]">
      <input id="gym_close_time_3i" type="hidden" value="01" name="gym[close_time(3i)]">
      <%= f.input :close_time, :as => :time_select,:ignore_date => true,:required => true,:input_html => { :class => "" } %>
    <% end -%>
    <%= f.actions do %>
      <%= f.action :submit, :button_html => { :class => "btn btn-primary" }, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end -%>
  <% end %>
