<% content_for :sub_menu do %>
  <%= render :partial => 'user/master/gyms/sub_menu_start', :locals => {:active_path => nil } -%>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class='wb-content-sub-title'>
  <div>
      <% if can? :edit, @gym%>
        <%= link_to t('views.defaults.actions.edit'), edit_user_master_gym_path(@gym), {class: "btn btn-primary"} %>
      <%end%>
      <% if can? :apply, @gym%>
        <%= link_to t('views.defaults.actions.apply'), apply_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
      <%end%>
      <% if can? :cancel, @gym%>
        <%= link_to t('views.defaults.actions.cancel'), cancel_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
      <%end%>
      <% if can? :release, @gym%>
        <%= link_to t('views.defaults.actions.release'), release_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
      <%end%>
      <% if can? :suspend, @gym%>
        <%= link_to t('views.defaults.actions.suspend'), suspend_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
      <%end%>
      <% if can? :destroy, @gym%>
        <%= link_to t('views.defaults.actions.destroy'), user_master_gym_path(@gym), 
                { method: :delete, class: "btn btn-primary", confirm: t('activemodel.confirm.destroy') } %>
      <%end%>
  </div>
  <div class='wb-clear-both'></div>
</div>

<div class="wb-content-detail">
  <table class="table table-bordered" style="width: 100%;">
    <tbody>
      <tr>
        <td><%= Gym.human_attribute_name(:name) %></td>
        <td><%= @gym.name -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:intro) %></td>
        <td><%= @gym.intro -%></td>
      </tr>
      <tr>
      <tr>
        <td><%= Gym.human_attribute_name(:address) %></td>
        <td><%= @gym.address -%></td>
      </tr>
        <td><%= Gym.human_attribute_name(:telephone) %></td>
        <td><%= @gym.telephone -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:status) %></td>
        <td><%= @gym.status.text -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:open_time) %></td>
        <td><%= @gym.open_time.strftime("%H:%M") -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:close_time) %></td>
        <td><%= @gym.close_time.strftime("%H:%M") -%></td>
      </tr>
    </tbody>
  </table>
</div>
