<% content_for :sub_menu do %>
  <%= render :partial => 'user/master/gyms/sub_menu_start', :locals => {:active_path => nil } -%>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class='wb-content-sub-title'>
  <div>
      <% if can? :edit, @gym%>
        <%= link_to t('views.defaults.actions.edit'), edit_user_master_gym_path(@gym), {class: "btn btn-primary"} %>
      <%end%>
      <% if can? :apply, @gym%>
        <%= link_to t('views.defaults.actions.apply'), apply_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
      <%end%>
      <% if can? :cancel, @gym%>
        <%= link_to t('views.defaults.actions.cancel'), cancel_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
      <%end%>
      <% if can? :release, @gym%>
        <%= link_to t('views.defaults.actions.release'), release_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
      <%end%>
      <% if can? :suspend, @gym%>
        <%= link_to t('views.defaults.actions.suspend'), suspend_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
      <%end%>
  </div>
  <div class='wb-clear-both'></div>
</div>
<%= render 'common_parts/gym_show' -%>
