<% content_for :sub_menu do %>
  <%= render :partial => 'user/master/gyms/sub_menu_start', :locals => {:active_path => nil } -%>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class='wb-content-sub-title'>
  <div>
    <% if can? :edit, @gym%>
      <%= link_to t('views.defaults.actions.edit'), edit_user_master_gym_path(@gym), {class: "btn btn-primary"} %>
    <%end%>
    <% if can? :apply, @gym%>
      <%= link_to t('views.defaults.actions.apply'), apply_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
    <%end%>
    <% if can? :cancel, @gym%>
      <%= link_to t('views.defaults.actions.cancel'), cancel_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
    <%end%>
    <% if can? :release, @gym%>
      <%= link_to t('views.defaults.actions.release'), release_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
    <%end%>
    <% if can? :suspend, @gym%>
      <%= link_to t('views.defaults.actions.suspend'), suspend_user_master_gym_path(@gym), {method: :post, class: "btn btn-primary"} %>
    <%end%>
    <button type="button" data-toggle="modal"class= "btn btn-primary" data-target="#uploadImageModal"><%= t('views.defaults.actions.upload_image')%></button>
  </div>
  <div class='wb-clear-both'></div>
</div>
<%= render 'common_parts/gym_show' -%>
<!-- upload image Modal -->
<div id="uploadImageModal" class="modal  fade" tabindex="-1" role="dialog" aria-labelledby="uploadImageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="uploadImageModalLabel"><%=t('views.defaults.actions.upload_image') %></h3>
      </div>
      <%= form_tag({:controller => "gyms", :action => "upload_image"}, {:method => "post", multipart: true}) do %>
        <div class="modal-body">
          <%= hidden_field_tag 'gym_image[gym_id]', @gym.id %>
          <%= file_field_tag 'gym_image[image]' %>
          <%= text_field_tag 'gym_image[intro]' %>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('views.defaults.actions.cancel') %></button>
          <%= submit_tag(t('views.defaults.actions.upload_image')) %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  <% end %>
</div>
