<%= semantic_form_for([:user, :master, @game], :html => { :class => 'form-horizontal' }) do |f| %>
     <% if @game.new_record? %>
       <!-- 构造select的数组，name为 项目名+预订类型，id为场地的id -->
       <% 
          court_array_for_select = Array.new()
          current_user.gym.courts.all.each do |court| 
             item = Array.new()
             item.push(Sport.find(court.sport_id).name + "(" + court.reservation_type.text + ")")
             item.push(court.id)
             court_array_for_select.push(item)
          end
      %>
      <%= f.input :court_id, :label => Sport.model_name.human, :required => true, :as => :select,:collection => court_array_for_select%>
    <% else %>
      <li id="court_sport_name" class="number input optional numeric stringish">
      <label class=" label" for="court_sport_name"><%= Sport.model_name.human %><abbr title="required">*</abbr>
        </label>
        <%= Sport.find(Court.find(@game.court_id).sport_id).name + "(" + Court.find(@game.court_id).reservation_type.text + ")" -%>
      </li>
    <% end -%>
    <%= f.input :name, :required => true%>
    <%= f.input :sort, :required => true%>
    <%= f.input :default_price,:required => true%>
    <%#= f.input :can_reservation,:required => true, :as => :radio%>
    <li id="court_game_can_reservation" class="number input optional numeric stringish">
        <label class=" label" for="court_game_can_reservation"><%= Game.human_attribute_name(:can_reservation) %></label>
      <ol class="choices-group">
        <li class="choice">
          <label for="court_game_can_reservation_true">
            <% if @game.new_record? or (!@game.new_record? and @game.can_reservation) %>
              <%= radio_button_tag("game[can_reservation]", true,true)%> <%= t('views.defaults.game.reservation_true')%>
          <% else %>
            <%= radio_button_tag("game[can_reservation]", true) %><%= t('views.defaults.game.reservation_true')%>
           <%end%>
          </label>
        </li>
        <li class="choice">
          <label for="court_game_can_reservation_false">
            <% if  !@game.new_record? and !@game.can_reservation %>
              <%= radio_button_tag("game[can_reservation]", false,true) %><%= t('views.defaults.game.reservation_false')%>
          <% else %>
            <%= radio_button_tag("game[can_reservation]", false) %><%= t('views.defaults.game.reservation_false')%>
           <%end%>
          </label>
        </li>
      </ol>
      </li>
    <%= f.actions do %>
      <%= f.action :submit, :button_html => { :class => "btn btn-primary" }, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end -%>
  <% end %>
