<div class="wb-content-detail">
  <table class="table table-bordered" style="width: 100%;">
    <tbody>
      <tr>
        <td><%= Gym.human_attribute_name(:logo) %></td>
        <td><%= image_tag @gym.logo_url(:thumb).to_s %></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:name) %></td>
        <td><%= @gym.name -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:intro) %></td>
        <td><%= @gym.intro -%></td>
      </tr>
      <tr>
      <tr>
        <td><%= Gym.human_attribute_name(:address) %></td>
        <td><%= @gym.address -%></td>
      </tr>
        <td><%= Gym.human_attribute_name(:telephone) %></td>
        <td><%= @gym.telephone -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:status) %></td>
        <td><%= @gym.status.text -%></td>
      </tr>
      <% if @gym.status.rejected? or @gym.status.locked? %>
      <tr>
        <td><%= @gym.status.text + Gym.human_attribute_name(:reason) %></td>
        <td><%= @gym.reason -%></td>
      </tr>
      <% end%>
      <tr>
        <td><%= Gym.human_attribute_name(:open_time) %></td>
        <td><%= @gym.open_time.strftime("%H:%M") -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:close_time) %></td>
        <td><%= @gym.close_time.strftime("%H:%M") -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:history_log) %></td>
        <td>
          <% if !@gym.history_log.nil? -%>
            <% @gym.history_log.each_line(";") {|line|%>
              <%= line %>
              </p>
            <%}%>
          <%end%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
