<div class="seatGroup mt20">
  <div class="ui_left">
    <div class="seatViewTitle">
      <div class="seatViewInfo">
        <ul>
          <li><span class="hasSeat"></span>可预订</li>
          <li><span class="sellSeat"></span>已占用</li>
          <li><span class="checkSeat"></span>已选场次</li>
        </ul>
      </div>
    </div><!--view title-->
    <div class="mod_tabs mt40">
      <div class="mod_hd">
        <ul class="nav nav-tabs">
          <% for i in 0..10 %>
            <li class="<%= 'active' if Date.today+i == params[:date].to_date %>">
            <a href="javascript:searchgame('<%=@court.id%>', '<%=Date.today+i%>');">
              <% if i == 0 %>
                今天
              <%elsif i == 1 %>
                明天
              <%else%>
                <%= (Date.today+i).strftime("%m/%d")%>&nbsp;<%= show_week(Date.today+i)%>
              <%end%>
            </a>
            </li>
          <%end%>
        </ul>
      </div>
      <div class="mod_bd">
        <div class="inner">
          <div class="inner_table">
            <dl class="has_pk">
              <dt>
              <% @court.games.all.each do |game|%>
                <span><%= game.name%></span>
              <%end%>
              </dt>
              <dd>
              <%
                gym = Gym.find(@court.gym_id) 
                min_unit = @court.min_unit
                open_time= gym.open_time
                if Date.today == params[:date].to_date
                  t = Time.now
                  h = t.hour
                  if t.min >= 30
                    h = h + 3
                  else
                    h = h + 2
                  end
                  if h > 24
                    h = 24
                  end
                  open_time = Time.utc(open_time.year,open_time.month,open_time.day,h,open_time.min,open_time.sec)
                end
                close_time = gym.close_time
                reservation_type = @court.reservation_type 
              %>
              <div class="pk_table">
                <div class="pk_rows">
                  <%if reservation_type  == "according_time" then
                  (open_time.to_time.utc.to_i .. close_time.to_time.utc.to_i- (min_unit * 3600)).step(min_unit.hour).each do |time|%>
                    <div class="pk_cols"><em> <%= Time.at(time).utc.strftime('%H:%M')%></em></div>
                  <%end%>
                <%end%>
              </div>
              <%
                arg = Hash.new()
                arg["open_time"] = open_time
                arg["close_time"] = close_time
                arg["min_unit"] = min_unit
                arg["reservation_type"] = reservation_type
              %>
              <%
                @court.games.all.each do |game|
                  arg["game_id"] = game.id
                  hs = get_fix_price_reservation(arg,params[:date].to_date)
                %>
                <div class="pk_rows table_rows">
                  <% hs.each_cons(2) {|(key,value),(next_key,next_value)|%>
                    <div class="pk_cols">
                      <% arr = value.to_a %>
                      <% if arr[1]
                      selectid = game.id.to_s + params[:date].delete("-") + key.delete(":") 
                    %>
                    <span onclick='return select(<%=selectid%>,<%=game.id%>)' id="<%=selectid%>" title="<%= key + '-' + next_key + ' ' + game.name + ' ' + arr[0].to_s + ' '%>元" price="<%=arr[0]%>" start_time ="<%=key%>" end_time="<%=next_key%>" class="hasSeat">
                      <%=arr[0]%>元
                    <% else %>
                      <span title="该场次已售出" class="sellSeat">
                      <%end%>
                    </span>
                  </div>
                <%}%>
              </div>
            <%end%>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div><!--ui_left-->
<form>
  <div id="orderform" class="ui_right">
    <div class="innder">
      <div class="pewSeat">
        <p class="bold fs14"><a href=""><%=gym.name%></a></p>
        <p class="mt10"><em>预订项目：</em><b>
          <%= Sport.find(@court.sport_id).name %></b></p>
        <p><em>日期：</em><span class="cred fs14"><%=params[:date].to_date.strftime("%y-%m-%d")%>&nbsp;<%= show_week(params[:date].to_date)%></span></p>
      </div>
      <div class="choose_games_txt">场次：</div>
      <div id="cancelSite" style="display: block;" >
        <span class="pews">还未选择场次</span>
        <p>
        <span class="cf60">单击左侧选择场次</span></p>
      </div>
      <div id="hasSiteBox" style="display: none;">
      </div>
      <div id="hasSiteInfo" style="display: none; float: left;">
      </div>
      <div class="rightBox">
        <p>输入接收短信的手机号码</p>
        <div class="mobileInfo mt10">
          <p><em>手机号：</em></p>
          <p>
          <input type="text" class="pho-text" placeholder="请输入您的手机号">
          <span class="cred">*</span>
          </p>
          <p class="mt5"><em>验证码：</em></p>
          <p>
          <input class="vla-text" type="text">
          <span class="cred">*</span>
          </p>
          <p class="ml10">
          <a href="confirm_order.html" target="_blank"><button class="btn btn-primary" type="button" >提交订单</button></a>
          </p>
        </div>
      </div>
    </div>
  <input id="timesInput" type="hidden" value="0" name="timesInput">
  <input id="priceInput" type="hidden" value="0" name="priceInput">
  </div><!--ui_right-->
</form>
</div><!--seatGroup-->
