<div class="left count">
  <span>
    共<b class="cSport"><%=params[:count]%></b>家场馆
  </span>
</div>
<ul>
  <% @gyms.all.each do |gym| %>
    <li class="effectLi sportList" style="width:100%; position:static;">
    <div class="ui_media">
      <div class="ui_pic">
        <a href="one_gym.html" target="_blank" title=<%=gym.name%> >
          <%= image_tag gym.logo_url(:thumb).to_s,class: "gymlogo"%>
        </a>
        <p class="mt10" style="text-align:center">
        <button class="btn btn-primary" type="button" >在线预订</button>
        </p>
      </div> 
    </div>
    <div class="ui_text">
      <div class="title">
        <span>
          <a href="javascript:toOneGym('<%= gym.id %>')" title=<%=gym.name%> ><%= gym.name %></a>
        </span>
        <span class="grade" style="display:inline">
          <%score = gym.score
            score_decimal = score.to_s.split(".")[1].to_i
          %>
        <sub style="margin:0;"><%=score.to_i%></sub>
        <sup>.<%=  score_decimal > 0 ? score_decimal : 0 %></sup>
      </span>
    </div>
    <p class="mt10">详细地址：
    <%= Province.find(gym.province_id).province +
      City.find(gym.city_id).city +
      Area.find(gym.area_id).area +
      gym.address %>
      </p>
      <p class="mt10">联系电话：<%=gym.telephone%></p>
      <p class="mt10">经营项目：
      <% 
        old_sport_id = 0 
        gym.courts.order("sport_id asc").each do |court|
          new_sport_id = court.sport_id
          if new_sport_id != old_sport_id then
        %>
        <%= Sport.find(court.sport_id).name-%></a> 
      <% 
          end
          old_sport_id = new_sport_id 
        end
      %>
      </p>
    </div>
    </li>
  <% end %>
</ul>
<div class='ui_row'>
  <%= will_paginate @gyms %>
</div>
