<div class="ui_comment_list">
  <% @comments.each do |comment| -%>
    <dl class="ui_original">
      <dt >
      <a href="javascript:void(0);"><img width="50" height="50" src="/images/default_head.png"></a>
      </dt>
      <dd>
      <div>
        <%user = User.find(comment.user_id)%>
        <div>
          <a href="#"><%=user.name%></a>:(<span class="comment_grade"><%=comment.score%></span>分)
        </div>
        <div> <%=comment.comment%></div>
      </div>
      <div class="comment_time">
        <span> 发表于<%=comment.created_at.strftime("%Y-%m-%d %H:%M:%S")%></span>
        <%if !current_user.nil? && current_user.id = comment.user_id%>
          <a class="right" href="javascript:deleteComment('<%=comment.id%>')">删除</a>
        <%end%>
      </div>
      </dd>
    </dl>
  <% end -%>
</div>
<div class='ui_page_row'>
  <%= will_paginate @comments %>
</div>
<!--用于删除评论时回到原页面-->
<input id="current_page" type="hidden" value="<%=params[:page]%>" name="current_page">
