<% if @court != nil %>
  <div class="reserve_content">

    <div class="details_ticket">
      <dl class="dl-horizontal clear">
        <dt>运动项目:</dt>
        <dd style="padding-top: 10px;">
        <% 
          old_sport_id = 0 
          @gym.courts.order("sport_id asc").each do |court|
            new_sport_id = court.sport_id
            if new_sport_id != old_sport_id then
          %>
          <a href="javascript:getcourt('sportid',<%=court.sport_id%>);" class="<%= 'select' if court.sport_id == @court.sport_id %>"><%= Sport.find(court.sport_id).name -%></a> 
          <% 
            end
            old_sport_id = new_sport_id 
          end
        %>
        </dd>
        <dt>预订模式:</dt>
        <dd>
        <%Court.where("sport_id" => @court.sport_id).each do |court| %>
          <a href="javascript:getcourt('reservationtype','<%=court.reservation_type%>')" class="<%= 'select' if court.reservation_type == @court.reservation_type %>" >
            <%= court.reservation_type.text%></a> 
        <%end%>
        </dd>
      </dl>
    </div>
    <div class="reserve_info" style="padding-left: 5px;">
      <div class="intro">
        <% @court.court_properties.each do |court_property| -%>
          <span>
            <% property = Property.find(court_property.property_id) -%>
            <%= property.name-%>:
            <%= court_property.property_value-%>
            <%= property.unit-%>
          </span>
        <% end -%>
      </div>
    </div>
    <div class="choose_head">
      <span class="opiTime">预订日期</span>
      <span class="opiPrice">价格(元)</span>
      <span class="opiInfo">支持</span>
      <span class="opiAct">操作</span>
    </div>
    <div class="choose_body">
      <ul>
        <%
          def_min_price = Game.where(:court_id => @court.id).minimum("default_price") 
          def_max_price = Game.where(:court_id => @court.id).maximum("default_price")
          arg = Hash.new()
          arg["def_min_price"] = def_min_price
          arg["def_max_price"] = def_max_price
          arg["court_id"] = @court.id 
          arg["open_time"] = @gym.open_time
          arg["close_time"] = @gym.close_time
          arg["min_unit"] = @court.min_unit
        %>
        <% for i in 0..10 %>
          <li>
          <span class="opiTime">
            <b><%= (Date.today+i).strftime("%m-%d")%>&nbsp;<%= show_week(Date.today+i)%></b>
          </span>
          <span class="opiPrice_body">
            <em>(<%=def_min_price.to_s%>-<%=def_max_price.to_s%>)</em>
            <%=show_fix_info(arg,Date.today+i)%>
          </span>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
<% else %>
  <h3>暂无可预订场地</h3>
<%end%>
