<%= javascript_include_tag "gym.js" %>
<%= stylesheet_link_tag "gym" %>
<%= stylesheet_link_tag "front_common" %>
<div class='ui_row'>
  <div class='ui_left'>
    <div class="tile_condition">
      <ul class = "ulist">
        <li>
        <strong class="title">运动场馆</strong>
        </li>
        <li>
        <div class="condition">
          <dl class="dl-horizontal dlTy">
            <dt>
            <span class="typeTitle">选择项目 </span>
            </dt>
            <dd>
            <div id="fidsportid">
              <% Sport.all.each do |sport| %>
                <a href="javascript:searchItem('sportid',<%=sport.id%>,'<%=sport.name%>')" name=<%=sport.id%> ><%=sport.name%></a>
              <% end %>
            </div>
            </dd>
          </dl>
        </div>
        </li>
        <li>
        <div class="condition">
          <dl class="dl-horizontal dlTy">
            <dt>
            <span class="typeTitle">行政区域 </span>
            </dt>
            <dd>
            <div id="fidareaid">
              <% Area.all.each do |area| %>
                <a href="javascript:searchItem('areaid',<%=area.id%>,'<%=area.area%>')" name=<%=area.id%> ><%=area.area%></a>
              <% end %>
            </div>
            </dd>
          </dl>
        </div>
        </li>
        <li>
        <div class="condition">
          <dl class="dl-horizontal dlTy">
            <dt>
            <span class="typeTitle left">名称查询</span>
            </dt>
            <dd>
            <div>
              <form class="form-search">
                <input id="keywordinput" value="" type="text" class="input-medium search-query" placeholder="请输入搜索关键词">
                <a class="btn btn-default" href="javascript:searchKey()" role="button">查询</a>
              </form>
            </div>	
            </dd>
          </dl>
        </div>
        </li>
      </ul>
    </div><!--tile_condition-->
    <div class="boxtab">
      <ul class="nav nav-tabs">
        <li  class="active"  id="allgym"><a href="javascript:searchForReserve('all');">全　部</a></li>
        <li  id="openonlygym"><a href="javascript:searchForReserve('openonly');">可预订</a></li>
      </ul>
    </div>
    <div class="selectedMenus">
      <div class="right">
        <div class="btn-group">
          <button id="showsort" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
            默认(优先展示可预订场馆)
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="meun">
            <li><a id = "opengym" href="javascript:sortBy('opengym');">默认(优先展示可预订项目)</a></li>
            <li><a id = "score" href="javascript:sortBy('score');">按评分(由高到低)</a></li>
          </ul>
        </div>
      </div>
      <div class="chose left">
        <span id="chosetxt" style="display: none;">已选条件：</span>
        <a href="javascript:remove('sportid')" id="chosesportid" style="display: none;"></a>
        <a href="javascript:remove('areaid')"  id="choseareaid" style="display: none;"></a>
        <a href="javascript:remove('keyword')"  id="chosekeyword" style="display: none;"></a>
      </div>
    </div>
    <div class="sportList" id="gymListArea">
      <%= render 'gyms_list' -%>
    </div><!--sportList-->
    <!--查询结果-->
    <div class="sportList" id="gymListAreaBySearch">
    </div><!--sportList-->
  </div><!--ui_left-->
  <div class="ui_right">
    <div>
      <h2>热门活动</h2>
      <a target="_blank" class="more cSport" href="activity_home.html">更多>></a>
    </div>
    <%= render 'common_parts/activity_list' -%>
  </div><!--ui_right-->
</div><!-- /.row-fluid -->
</div>

<form id="searchForm"> 
  <input type="hidden" name="sportid" id="sportid" value="all"/>
  <input type="hidden" name="areaid" id="areaid" value="all"/>
  <input type="hidden" name="keyword" id="keyword" value="all"/>
  <input type="hidden" name="reservekey" id="reservekey" value="all"/>
  <input type="hidden" name="sortkey" id="sortkey" value="opengym"/>
</form> 

