<%= javascript_include_tag "gym.js" %>
<%= stylesheet_link_tag "gym" %>
<%= stylesheet_link_tag "front_common" %>
<div class='ui_row'>
  <div class='ui_left'>
    <div class="tile_condition">
      <ul class = "ulist">
        <li>
        <strong class="title">运动场馆</strong>
        </li>
        <li>
        <div class="condition">
          <dl class="dl-horizontal dlTy">
            <dt>
            <span class="typeTitle">选择项目 </span>
            </dt>
            <dd>
            <div id="fidsportid">
            <% Sport.all.each do |sport| %>
              <a href="javascript:searchItem('sportid',<%=sport.id%>)" name=<%=sport.id%> ><%=sport.name%></a>
            <% end %>
            </div>
            </dd>
          </dl>
        </div>
        </li>
        <li>
        <div class="condition">
          <dl class="dl-horizontal dlTy">
            <dt>
            <span class="typeTitle">行政区域 </span>
            </dt>
            <dd>
            <div id="fidareaid">
            <% Area.all.each do |area| %>
              <a href="javascript:searchItem('areaid',<%=area.id%>)" name=<%=area.id%> ><%=area.area%></a>
            <% end %>
            </div>
            </dd>
          </dl>
        </div>
        </li>
        <li>
        <div class="condition">
          <dl class="dl-horizontal dlTy">
            <dt>
            <span class="typeTitle left">名称查询</span>
            </dt>
            <dd>
            <div>
              <form class="form-search">
                <input type="text" class="input-medium search-query" placeholder="请输入搜索关键词">
                <button type="submit" class="btn">查询</button>
              </form>
            </div>	
            </dd>
          </dl>
        </div>
        </li>
      </ul>
    </div><!--tile_condition-->
    <div class="boxtab">
      <ul class="nav nav-tabs">
        <li  class="active"  id="dramaInfoBoxTab"><a href="javascript:searchPPPV('booking', '');">全　部</a></li>
        <li  id="theatraIntruduceTab"><a href="javascript:searchPPPV('booking', 'open');">可预订</a></li>
      </ul>
    </div>
    <div class="selectedMenus">
      <div class="right">
        <div class="btn-group">
          <button class="btn">默认(优先展示可预订场馆)</button>
          <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">默认(优先展示可预订项目)</a></li>
            <li><a href="#">按评分(由高到低)</a></li>
          </ul>
        </div>
      </div>
      <div class="left">
        <span>
          共<b class="cSport"><%=@gyms.count%></b>家场馆
        </span>
      </div>
    </div>
    <div class="sportList" id="gymListArea">
        <%= render 'gymlist' -%>
      </div><!--sportList-->
      <!--查询结果-->
    <div class="sportList" id="gymListAreaBySearch">
    </div><!--sportList-->
  </div><!--ui_left-->
  <div class="ui_right">
    <div>
      <h2>热门活动</h2>
      <a target="_blank" class="more cSport" href="activity_home.html">更多>></a>
    </div>
    <div class="hot_activity">
      <ul>
        <li>
        <dl class="dl-horizontal">
          <dt class="act_pic">
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742">
            <img width="96" height="128" alt="玩儿不@运动 9元抢场 第二十期10月1日场" src="../../assets/img/act.jpg">
          </a>
          </dt>
          <dd class="act_txt">
          <span title="玩儿不官方认证活动" class="mr5"></span>
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742" class="cSport">玩儿不@运动 9元抢场 第二十期10月1日场</a>
          <p class="mt10">5月21日--12月31日</p>
          <p class="mt10">玩儿不运动</p>
          </dd>
        </dl>
        </li>
        <li class="hotcmt">
        <dl class="dl-horizontal">
          <dt class="act_pic">
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742">
            <img width="96" height="128" alt="玩儿不@运动 9元抢场 第二十期10月1日场" src="../../assets/img/act.jpg">
          </a>
          </dt>
          <dd class="act_txt">
          <span title="玩儿不官方认证活动" class="mr5"></span>
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742" class="cSport">玩儿不@运动 9元抢场 第二十期10月1日场</a>
          <p class="mt10">5月21日--12月31日</p>
          <p class="mt10">玩儿不运动</p>
          </dd>
        </dl>
        </li>
        <li class="hotcmt">
        <dl class="dl-horizontal">
          <dt class="act_pic">
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742">
            <img width="96" height="128" alt="玩儿不@运动 9元抢场 第二十期10月1日场" src="../../assets/img/act.jpg">
          </a>
          </dt>
          <dd class="act_txt">
          <span title="玩儿不官方认证活动" class="mr5"></span>
          <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742" class="cSport">玩儿不@运动 9元抢场 第二十期10月1日场</a>
          <p class="mt10">5月21日--12月31日</p>
          <p class="mt10">玩儿不运动</p>
          </dd>
        </dl>
        </li>
      </ul>
    </div><!--hot_activity--->
  </div><!--ui_right-->
</div><!-- /.row-fluid -->
</div>

<form id="searchForm"> 
  <input type="hidden" name="sportid" id="sportid" value="all"/>
  <input type="hidden" name="areaid" id="areaid" value="all"/>
</form> 

