<%= javascript_include_tag "one_gym.js" %>
<%= stylesheet_link_tag "front_common" %>
<%= stylesheet_link_tag "one_gym" %>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=E75ca5bf84895e09c984f7e746c58868"></script>
<div class="ui_row">
  <div class="detail_head">
    <div class="detailPa">
      <div class="detailName clear">
        <%
          gym_name = @gym.name
          gym_id = @gym.id
          score = @gym.score
          score_decimal = score.to_s.split(".")[1].to_i
          star_num = 0
          star_num = score.round(1) if score.present? 
        %>
        <h1 class="left"><%= gym_name %></h1>		
        <div class="left clear mt10 ml15"><!-- 传评分数gmark -->
          <ul class="ui_big_ratings"><!-- 大的评分 -->
            <% for i in 1..10
            if i <= star_num
              if i.even? %>
              <li class="on"></li>
            <% else %>
              <li class="half"></li>
            <%end%>
          <%else
          if i.even?%>
          <li class="no"></li>
        <%else%>
          <li class=""></li>
        <%end%>
      <%end%>
    <%end%>
  </ul>
  <span class="bigSubp left">
    <sub id="mark_integer"><%=score.to_i%></sub>
    <sup id="mark_decimal">.<%=  score_decimal > 0 ? score_decimal : 0 %></sup>
  </span>
</div>
<div class="ratingsCount left">
  <ul>
    <li><a href="javascript:showComment();" class="cou">我要评分</a></li>
  </ul>
</div>
</div><!--detailName-->
    </div><!--detailPa-->
  </div><!--detail head-->
</div><!--ui_row-->
<div class="ui_row">
  <div class="itemTopic ui_left">
    <div class='ui_media'>
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <%if @gym.gym_images.empty?%>
            <div class="item active">
              <img src="/images/default_gym_image.jpg" alt="玩不网图片">
              <div class="container">
                <div class="carousel-caption">
                  <a class="btn btn-lg btn-primary" href="#">玩不网</a>
                </div>
              </div>
            </div>
          <%else%>
            <% @gym.gym_images.all.each do |gym_image| %>
              <div class="<%= @gym.gym_images.all.first.id  == gym_image.id ? 'item active' : 'item' %>">
                <%= image_tag gym_image.image_url.to_s, class: 'img-thumbnail' %>
                <div class="container">
                  <div class="carousel-caption">
                    <a class="btn btn-lg btn-primary" href="#"><%=gym_image.intro.to_s%></a>
                  </div>
                </div>
              </div>
            <%end%>
          <%end%>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div><!-- /.carousel -->
    </div><!-- /.ui_media-->
    <div class='ui_text'>
      <div>
        <dl>
          <dt>详细地址：</dt>
          <dd>
          <%
            city = City.find(@gym.city_id).city 
            address =  Province.find(@gym.province_id).province +
              city +
              Area.find(@gym.area_id).area +
              @gym.address %>
              <%= address %>
             </dd>
            </dl>
            <dl>
              <dt>联系电话：</dt>
              <dd><%=@gym.telephone%></dd>
            </dl>
            <dl>
              <dt>运动项目：</dt>
              <dd>
              <% 
                old_sport_id = 0 
                @gym.courts.order("sport_id asc").each do |court|
                  new_sport_id = court.sport_id
                  if new_sport_id != old_sport_id then
                %>
                <%= Sport.find(court.sport_id).name-%></a> 
              <% 
                  end
                  old_sport_id = new_sport_id 
                end
              %>
              </dd>
            </dl>
          </div>
        </div><!--ui_text-->
      </div><!--itemTopic-->
      <div class='ui_right'>
        <div class='ui_map'>
          <div class='mapInfo'>
            <div id="allmap"></div>
          </div>
          <div class='mapModify'>
            <div id="pattern" class="search_icon_tab">
              <a title="驾车" onclick="tabs(this,'1')"  class="select"><img src="images/blank.gif" class="car"></a>
              <a title="公共交通" onclick="tabs(this,'2')" class=""><img src="images/blank.gif" class="bus"></a>
              <a title="步行" onclick="tabs(this,'3')"  class=""><img src="images/blank.gif" class="men"></a>
            </div>
            <%= form_tag({:controller => "gym", :action => "search_map"},{:method => "post",:target => '_blank'}) do %>
              <div class="search_form">
                <ul>
                  <li>
                  <span title="起点" class="map_ico_a"></span>
                  <input type="text" alt="请输入起点" class="text" name="fromaddress" style="width:174px;" id="fromAddress">
                  </li>
                  <li>
                  <span title="终点" class="map_ico_b"></span>
                  <input type="text" value="<%= address%>" class="text" name="toaddress" style="width:174px;" id="endAddress">
                  <input type="hidden" name="city" id="city" value="<%=city%>"/>
                  <input type="hidden" name="gym_name" id="gym_name" value="<%=gym_name%>"/>
                  </li>
                  <li>
                  <input id="searchtype" type="hidden" value="1" name="searchtype">
                  <%= submit_tag('查询路线') %>
                  </li>
                </ul>
              </div>
            <%end%>
          </div>
        </div><!--map-->
      </div>
      <div class="ui_summary">
        <p class="ui_summary_big">
        <span></span>
        <%= @gym.intro%>
        <span></span>
        </p>
      </div><!--ui_summary-->
    </div><!-- /.ui_row -->
    <div class="ui_row details">
      <div class="ui_left details_left">
        <div>
          <ul class="nav nav-tabs">
            <li class="active"><a >场地预订</a></li>
          </ul>
        </div>
        <div id="reserveList">
          <%= render 'reserves_list' -%>
        </div>
        <!--查询结果-->
        <div id="reserveListBySearch">
        </div>
        <!--评论-->
        <div class="mt20" id="location_comment">
          <ul class="nav nav-tabs">
            <li class="active"><a >玩儿不评论</a></li>
          </ul>
        </div>
        <%= form_tag({:controller => "gym", :action => "submit_comment"}, {:method => "post",:id => 'commentform'}) do %>
          <div class="comment_form">
            <dl>
              <dt class="logon_img">
              <a href="javascript:void(0);"><img width="50" height="50" src="/images/default_head.png"></a>
              </dt>
              <dd class="comment_input">
              <div class="modify_alt">
                <b class="left mt5">我要评分：</b>
                <ul class="ui_big_ratings" id="scoreMark">
                  <li lang="不推荐，不考虑" id="1" class="" ></li>
                  <li lang="不推荐，不考虑" class="no" id="2" ></li>
                  <li lang="不推荐，不考虑" id="3" class="" ></li>
                  <li lang="凑合，别无选择可考虑" class="no" id="4" ></li>
                  <li lang="凑合，别无选择可考虑" id="5" class="" ></li>
                  <li lang="不错，值得考虑" class="no" id="6" ></li>
                  <li lang="不错，值得考虑" id="7" class="" ></li>
                  <li lang="很棒，推荐大家去" class="no" id="8" ></li>
                  <li lang="很棒，推荐大家去" id="9" class="" ></li>
                  <li lang="最佳，绝对首选" class="no" id="10" ></li>
                </ul>
                <sub class="ml10 mr10 left" id="scoreMarkPoint"></sub>
                <span id="scoreMarkDesc" class="brown left"></span>
                <input type="hidden" name="gym_comment[score]" id="score" value=""/>
                <input type="hidden" name="gym_comment[gym_id]" id="gym_id" value="<%=gym_id%>"/>
                <input id="user_id" type="hidden" value="<%=current_user.nil? ? " " : current_user.id%>" name="gym_comment[user_id]">
              </div>
              <div>
                <textarea id="comment" name="gym_comment[comment]" style="width: 100%;"></textarea> 
              </div>
              <div class="right"> 
                <b id="remain">140</b>
                <button type="button" id="sub_comment" class="btn btn-primary">发布</button>
              </div>
              </dd>
            </dl>
          </div>
        <%end%>
        <br>
        <div id="gym_comments_list" class="left">
          <%= render 'gym_comments_list' -%>
        </div>
      </div>
      <div class="details_right ui_right">
        <div class="right_info">
          <div><h2>相关优惠</h2></div>
          <div>
            <ul>
              <li>
              <span class="cSport">农行信用卡银联在线支付</span>每笔订单立减<b class="cSport">10</b>元
              </li>
              <li class="mt5">
              <span class="cSport">银联在线支付</span>每笔订单立减<b class="cSport">5</b>元, 立返<b>5</b>元券
              </li>
            </ul>
          </div>
          <div class="mt10"><h2>相关活动</h2></div>
          <div class="hot_activity">
            <ul>
              <li>
              <dl class="dl-horizontal">
                <dt class="act_pic">
                <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742">
                  <img width="96" height="128" alt="玩儿不@运动 9元抢场 第二十期10月1日场" src="../../assets/img/act.jpg">
                </a>
                </dt>
                <dd class="act_txt">
                <span title="玩儿不官方认证活动" class="mr5"></span>
                <a target="_blank" title="玩儿不@运动 9元抢场 第二十期10月1日场" href="/activity/8179742" class="cSport">玩儿不@运动 9元抢场 第二十期10月1日场</a>
                <p class="mt10">5月21日--12月31日</p>
                <p class="mt10">玩儿不运动</p>
                </dd>
              </dl>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <form id="searchForm"> 
      <input type="hidden" name="gymid" id="gymid" value="<%=gym_id%>"/>
      <% if @court != nil %>
        <input type="hidden" name="sportid" id="sportid" value="<%=@court.sport_id%>"/>
        <input type="hidden" name="reservationtype" id="reservationtype" value="<%=@court.reservation_type%>"/>
      <%end%>
    </form> 
    <%= render 'common_parts/login_modal' -%>
    <script type="text/javascript">
      var map = new BMap.Map("allmap");    // 创建地图实例       
      var end = document.getElementById("endAddress").value;
      var city = document.getElementById("city").value;
      // 创建地址解析器实例   
      var myGeo = new BMap.Geocoder();    
      // 将地址解析结果显示在地图上，并调整地图视野  
      myGeo.getPoint(end, function(point){    
          if (point) {	   
          map.centerAndZoom(point, 15);// 创建点坐标,初始化地图，设置中心点坐标和地图级别  
          map.addOverlay(new BMap.Marker(point));  		
          }    
          }, city); 

        </script>
