<% content_for :head_stylesheet do %>
<% end %>

<% content_for :sub_menu do %>
  <%= render :partial => 'user/master/games/sub_menu_start', :locals => {:active_path => user_master_game_reports_path } -%>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class="wb-search-condition-container alert alert-success">
  <%= form_for [:user, :master, @game_report], :html => {:method => :get} do |f| -%>
    <% @game_report.filters.each do |filter| -%>
      <div class="wb-datagrid-filter-content">
        <%= f.datagrid_label filter %>
        <%= f.datagrid_filter filter %>
      </div>
    <% end -%>

    <div class='wb-datagrid-filter-action'>
      <button type='submit' class='btn btn-primary'><%= t('views.defaults.actions.search')%></button>
      <button type='button' class='btn btn-default'><%= t('views.defaults.actions.clear')%></button>
    </div>
    <div class='wb-clear-both'></div>
  <% end -%>
</div>

<div class="search-result">
  <%= render partial: 'common_parts/query_results_count', locals: {count: @game_report.assets.count} %> 
  <%= will_paginate @assets %>
  <div class='wb-clear-both'></div>
  <div>
  <%= datagrid_table(@game_report, @assets) %>
  </div>
  <%= will_paginate @assets %>
</div>
