<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>玩儿不</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="玩儿不">
    <meta name="author" content="wanerbu">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    
  </head>

  <body>

    <div class="container">

      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>


    </div> <!-- /container -->

  </body>
</html>

