<% content_for :head_stylesheet do %>
<% end %>

<% content_for :sub_menu do %>
  <%= render :partial => 'admin/master/gym_reports/sub_menu_report', :locals => {:active_path => admin_master_gym_reports_path } -%>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class="wb-search-condition-container alert alert-success">
  <%= form_for [:admin, :master, @gym_report], :html => {:method => :get} do |f| -%>
    <% @gym_report.filters.each do |filter| -%>
      <div class="wb-datagrid-filter-content">
        <%= f.datagrid_label filter %>
        <%= f.datagrid_filter filter %>
      </div>
    <% end -%>

    <div class='wb-datagrid-filter-action'>
      <button type='submit' class='btn btn-primary'><%= t('views.defaults.actions.search')%></button>
      <button type='button' class='btn'><%= t('views.defaults.actions.clear')%></button>
    </div>
    <div class='wb-clear-both'></div>
  <% end -%>
</div>

<div class="search-result">
  <%= render partial: 'common_parts/query_results_count', locals: {count: @gym_report.assets.count} %> 
  <%= will_paginate @assets %>
  <div class='wb-clear-both'></div>
  <div>
  <%= datagrid_table(@gym_report, @assets) %>
  </div>
  <%= will_paginate @assets %>
</div>
