<% content_for :head_stylesheet do %>
<% end %>
<% content_for :sub_menu do %>
  <%= render :partial => 'admin/master/gym_reports/sub_menu_report', :locals => {:active_path => nil } -%>
    <li class="active">
      <%= link_to t('admin.nav.main_menu.common.show', model: Gym.model_name.human), admin_master_gym_report_path(@gym) %>
    </li>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>
<div class='wb-content-sub-title'>
  <div>
    <%= link_to t('views.defaults.actions.approve'), approve_admin_master_gym_report_path(@gym), {method: :post,class: "btn btn-primary"} %>
    <button type="button" data-toggle="modal"class= "btn btn-primary" data-target="#rejectModal"><%= t('views.defaults.actions.reject')%></button>
    <button type="button" data-toggle="modal"class= "btn btn-primary" data-target="#lockModal"><%= t('views.defaults.actions.lock')%></button>
   <%= link_to t('views.defaults.actions.destroy'), admin_master_gym_report_path(@gym), 
                { method: :post, class: "btn btn-primary", confirm: t('activemodel.confirm.destroy') } %>
  </div>
  <div class='wb-clear-both'></div>
</div>

<!-- Reject Modal -->
<div id="rejectModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="rejectModalLabel"><%=t('views.defaults.actions.reject') %></h3>
    </div>
    <%= form_tag(:controller => "gym_reports", :action => "reject", :method => "post") do %>
    <div class="modal-body">
        <%= label_tag(:reason,Gym.human_attribute_name(:reason)) %>
        <%= text_field_tag(:reason) %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('views.defaults.actions.cancel') %></button>
        <%= submit_tag(t('views.defaults.actions.reject')) %>
    </div>
    <% end %>
</div>
<!-- Lock Modal -->
<div id="lockModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="lockModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="lockModalLabel"><%=t('views.defaults.actions.lock') %></h3>
    </div>
    <%= form_tag(:controller => "gym_reports", :action => "lock", :method => "post") do %>
    <div class="modal-body">
        <%= label_tag(:reason,Gym.human_attribute_name(:reason)) %>
        <%= text_field_tag(:reason) %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"><%= t('views.defaults.actions.cancel') %></button>
        <%= submit_tag(t('views.defaults.actions.lock')) %>
    </div>
    <% end %>
</div>

<%= render 'common_parts/gym_show' -%>
