<% content_for :head_stylesheet do %>
<% end %>
<% content_for :sub_menu do %>
  <%= render :partial => 'admin/master/gym_reports/sub_menu_report', :locals => {:active_path => nil } -%>
    <li class="active">
      <%= link_to t('admin.nav.main_menu.common.show', model: Gym.model_name.human), admin_master_gym_report_path(@gym) %>
    </li>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>
<div class='wb-content-sub-title'>
  <div>
    <%= link_to t('views.defaults.actions.approve'), approve_admin_master_gym_report_path(@gym), {method: :post,class: "btn btn-primary"} %>
    <!--TODO 这里需要实现弹出窗口(modal)来加拒绝理由,对应的数据库也应增加字段来存储拒绝理由,具体实现方法需要调查 -->
    <button type="button" data-toggle="modal"class= "btn btn-primary" data-target="#myModal"><%= t('views.defaults.actions.reject')%></button>
  </div>
  <div class='wb-clear-both'></div>
</div>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel"><%=t('views.defaults.actions.reject') %></h3>
    </div>
    <%= form_tag(:controller => "gym_reports", :action => "reject", :method => "post") do %>
    <div class="modal-body">
        <%= label_tag(:reject_reason,Gym.human_attribute_name(:reject_reason)) %>
        <%= text_field_tag(:reject_reason) %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t('views.defaults.actions.cancel') %></button>
        <%= submit_tag(t('views.defaults.actions.reject')) %>
    </div>
    <% end %>
</div>

<div class="wb-content-detail">
  <table class="table table-bordered" style="width: 100%;">
    <tbody>
      <tr>
        <td><%= Gym.human_attribute_name(:name) %></td>
        <td><%= @gym.name -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:intro) %></td>
        <td><%= @gym.intro -%></td>
      </tr>
      <tr>
      <tr>
        <td><%= Gym.human_attribute_name(:address) %></td>
        <td><%= @gym.address -%></td>
      </tr>
        <td><%= Gym.human_attribute_name(:telephone) %></td>
        <td><%= @gym.telephone -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:status) %></td>
        <td><%= @gym.status.text -%></td>
      </tr>
      <% if @gym.status.rejected?%>
      <tr>
        <td><%= Gym.human_attribute_name(:reject_reason) %></td>
        <td><%= @gym.reject_reason -%></td>
      </tr>
      <% end%>
      <tr>
        <td><%= Gym.human_attribute_name(:open_time) %></td>
        <td><%= @gym.open_time.strftime("%H:%M") -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:close_time) %></td>
        <td><%= @gym.close_time.strftime("%H:%M") -%></td>
      </tr>
      <tr>
        <td><%= Gym.human_attribute_name(:history_log) %></td>
        <td>
          <% if !@gym.history_log.nil? -%>
            <% @gym.history_log.each_line(";") {|line|%>
              <%= line %>
              </p>
            <%}%>
          <%end%>
        </td>
      </tr>
    </tbody>
  </table>
</div>
