  <%= semantic_form_for([:admin, :master, @sport], :html => { :class => 'form-horizontal' }) do |f| %>
      <%= f.input :name %>
      <%= f.input :intro %>
      <%= f.input :sort %>
      <% Property.all.each do |property| -%>
            <div>
              <%= label_tag :property_ids, property.name -%>
              <%= check_box_tag :property_ids, property.id, @sport.properties.include?(property), :name => 'sport[property_ids][]' -%>
             </div>
      <% end -%>
    <%= f.actions do %>
      <%= f.action :submit, :button_html => { :class => "btn btn-primary" }, :as => :button %>
      <%= f.action :cancel, :as => :link %>
    <% end -%>
  <% end %>
