<% content_for :sub_menu do %>
  <%= render :partial => 'admin/master/admins/sub_menu_start', :locals => {:active_path => new_admin_master_admin_path } -%>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class='wb-content-sub-title'>
  <h4>新建管理员</h4>
  <div style='float:right;'>
    <button type='button' class='btn btn-primary'>其他</button>
    <button type='button' class='btn btn-primary'>其他</button>
    <button type='button' class='btn btn-primary'>其他</button>
  </div>
  <div class='clear'></div>
</div>
<div class='wb-content-main'>
  <%= semantic_form_for([:admin, :master, @admin], :html => { :class => 'form-horizontal' }) do |f| %>
    <ul>
      <%= f.input :email, :input_html => { :class => "span4" }, :hint => "add your email here" %>
      <%= f.input :login_id %>
      <%= f.input :password %>
      <%= f.inputs :first_name, :last_name, :name => "姓名" %>
    </ul>
    <%= f.actions %>
  <% end %>
</div>
