<% content_for :sub_menu do %>
  <%= render :partial => 'admin/master/admins/sub_menu_start', :locals => {:active_path => nil } -%>
    <li class="active">
      <%= link_to t('admin.nav.main_menu.master.admins.items.show'), admin_master_admin_path(@admin) %>
    </li>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class="data">
  <dl>
    <dt>
      Email
    </dt>
    <dd>
      <%= @admin.email -%>
    </dd>

    <dt>
      Login_id
    </dt>
    <dd>
      <%= @admin.login_id -%>
    </dd>
  </dl>
</div>
