<% content_for :sub_menu do %>
  <%= render :partial => 'admin/master/admins/sub_menu_start', :locals => {:active_path => nil } -%>
    <li class="active">
      <%= link_to t('admin.nav.main_menu.master.admins.items.show'), admin_master_admin_path(@admin) %>
    </li>
  <%= render 'common_parts/sub_menu_end' -%>
<% end %>

<div class='wb-content-sub-title'>
  <div>
    <button type='button' class='btn btn-primary'>编辑</button>
    <button type='button' class='btn btn-primary'>删除</button>
    <button type='button' class='btn btn-primary'>锁定</button>
  </div>
  <div class='clear'></div>
</div>

<div class="wb-content-model-detail">
  <table class="table table-bordered" style="width: 100%;">
    <tbody>
      <tr>
        <td><%= Admin.human_attribute_name(:login_id) %></td>
        <td><%= @admin.login_id -%></td>
      </tr>
      <tr>
        <td><%= Admin.human_attribute_name(:email) %></td>
        <td><%= @admin.email -%></td>
      </tr>
    </tbody>
  </table>
</div>
