<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>玩儿不</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="玩儿不">
    <meta name="author" content="wanerbu">

    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <!-- TODO dairg 需要调查清楚这里的作用 -->
    <%= csrf_meta_tags %>
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

  </head>

  <body>
  
    <div class="container-fluid">
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div><!--/.fluid-container-->
  </body>
</html>

